extends layout.pug

block content
  h2 Book An Appointment
  .form-block
    form.move(action="/appointment/create" method="post")
        label.form-space(for="firstname") Class Name:
          input(type="text" placeholder='e.g. "Boxing"'  name="firstname")
        label.form-space(for="day") Day:
          select(name="day")
            each dayName, day in days
              option(value=day) #{dayName}
        lable.form-space(for="hour") Time:
          select(name="hour")
            each hour in hours
              option(value=hour) #{hour}
        button.form-space(type="submit") Book class


  
  h2 Delete Appointment
  .form-block
    form.move(action="/appointment/delete" method="post")
      label.form-space(for="day") Day:
        select(name="day")
          each dayName, day in days
            option(value=day) #{dayName}
      label.form-space(for="hour") Time:
        select(name="hour")
          each hour in hours
            option(value=hour) #{hour}
      button.form-space(type="submit") Remove class

block scripts
  script.
    document.querySelector('.delete-class button').addEventListener('click', () => {
      console.log('hello 2')
    });